.img-circle {
    max-height: 50px;
}

.btn {
    max-width: 110px;
    text-align: 15px;

}

.btn-danger {
    color: ghostwhite;
    background-color: rgb(236, 120, 12);
}

.btn-danger:hover {
    background-color: darkred;
}